/* container Page*/

.page-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    background-color: #f5f5f5;
}

/* Login ilustration */

.login-ilustration {
    margin: 20px;
}

.login-ilustration svg {
    width: 300px;
    height: auto;
}

.login-form-container {
    width: 400px;
    height: auto;
    margin: 10px auto;
    padding: 20px;
}

.input-container {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
    font-weight: bold;
    font-size: 30px;
}

h3 {
    margin-bottom: 20px;
    color: #555555;
}

label {
    display: block;
    padding: 10px;
    width: 99.8px;
    margin-bottom: 10px;
    background-color: #dddddd;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
}
button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
button:disabled {
    background: #ccc;
}
.error {
    color: red;
    margin-top: 10px;
}